html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
* {
	box-sizing: border-box;
}


button{
outline:none;
border:none;
}


/*#############################*/


.inner-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 181px;
    left: 0;
    top: 0;
    font-family: "Bebas Neue",serif;
    font-size: 30px;
    color:#000 !important;

background: #FFD700;
}

ul {
  list-style-type: none;
    display: flex;
 }
li{
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

li a{

    color: black;
}
.navigation{
    margin-top:4px ;
}


/*content*/

.privacy h2{
     text-align: left;
    margin-left: 400px;
    margin-top:60px;
    font-size: 50px;
    font-family: Bebas Neue, serif;
}

.policytxt{
    text-align: left;
    margin-left: 350px;
    margin-top: 34px;
    font-size: 20px;
    font-family: Arial,serif;
    margin-bottom: 250px;
    line-height: 3rem;
}











/*!*################*!footer*/


.footer-container{

    background-color: #000000;
    /*padding-top: 10px;*/
    padding: 44px 0 1.2rem 0;

}

.footer{

    width:80%;
    height: 20vh;
    background-color: black;
    color: #ffd700;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    margin-right: 150px;
    /*margin-left: 25px;*/
}

.footer-heading{

    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;
    font-size:25px;
}

.footer-heading a{
    color: #ffd700;
    text-decoration:none;
    margin-bottom: 0.5rem;

}

.footer-heading a:hover{
    color: #0d33ee;
    transition:0.3s ease-out;
}

.footer-email-form h2{
    margin-bottom: 2rem;
    font-size:25px;
    margin-right: 150px;

}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-right: 2rem;
}
#footer-email::placeholder{
    color: #b1b1b1;
}
#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
    border: none;
    color: #000000;
    font-size: 1rem;



}

#footer-email-btn:hover{
    cursor: pointer;
    background-color: #ffd700;
    transition: all 0.4s ease-out;
}

.footer-heading.footer-1 a{
    margin-bottom: 30px;
}

.footer-heading.footer-2 a{
    margin-bottom: 30px;
}

.footer-heading.footer-4 a{
    margin-bottom: 30px;
}

/*.footer-heading.footer-4 img{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/
.footer-heading.footer-4{
    display: flex;
    flex-direction: row;

}



.fa-youtube {
  background: #000000;
  color: white;
}
.fa.fa-youtube:hover::before{
    color: red;
}
.fa-instagram {
  background: #000000;
  color: white;
}
.fa.fa-instagram:hover::before{
    color: orange;
}

.fa-pinterest {
  background: #000000;
  color: white;
}
.fa.fa-pinterest:hover::before{
    color: red;
}

.fa-facebook {
  background: #000000;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 15px;
}

.footer-heading.footer-4 h2{
    color: black;

}

/*footerbelow*/

.footerbelow{
    background-color: #FFD700;
    padding-bottom:34px;
    text-align: left;
    outline: 0;
    border: 0;
}
.footerbelow p{
    font-family: Bebas Neue, serif;
    font-size: 20px;
    padding-left: 325px;
    padding-top: 30px;
}
.footer-container{

    left: 0;
    bottom: 70px;
    width: 100%;
}
.footerbelow-container {


    left: 0;
    bottom: 0;
    width: 100%;
}