{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/{% block cssfile %}flowerpot{% endblock %}.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Concrete41</title>
</head>
{% endblock %}